<header
  class="bg-gradient-to-r from-black_gradient via-middle_gray to-gray_gradient py-4 px-6 shadow-lg"
>
  <div class="max-w-7xl mx-auto">
    <div class="flex items-center justify-between space-x-4">
      <img
        src="https://www.pjc.mt.gov.br/image/layout_set_logo?img_id=18244713&t=1741824921470"
        alt="Polícia Civil"
        width="220"
        height="90"
      />
      <h1 class="text-white font-bold text-2xl">
        Sistema de Pessoas Desaparecidas
      </h1>
    </div>
  </div>
</header>
