<div class="card">
  <div class="card-body">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="{{ name }}" class="img-fluid rounded" />
    <h3 class="text-center">{{ name }}</h3>
    <p class="text-center">{{ age }} anos • {{ gender }}</p>
    <p class="text-center">Desaparecido desde: {{ desaparecidoEm }}</p>
    <p class="text-center">{{ missingDays }} dias desaparecido</p>
    <div>
      <strong>Último local visto:</strong> {{ lastSeen }}
    </div>
    <div>
      <strong>Vestimentas:</strong> {{ vestimentas }}
    </div>
    <div>
      <strong>Informações adicionais:</strong> {{ informacao }}
    </div>
  </div>
</div>
