<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pessoas-desaparecidas</title>
</head>
<body>
  <!-- <app-root></app-root> -->
  <app-header></app-header>

  <div class="container mx-auto px-4 py-8">
    <app-filter-bar (onFilter)="handleFilter($event)"></app-filter-bar>
  
    <h2 class="text-center text-2xl font-semibold text-black_gradient text-black mb-8">
      Pessoas Desaparecidas
    </h2>
  
    <div *ngIf="missingPeople.length === 0" class="text-center text-gray-700">
      <p>Nenhuma pessoa encontrada. Tente ajustar os filtros ou recarregar a página.</p>
    </div>
    <div *ngIf="missingPeople.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 justify-items-center">
      <app-missing-person-card
      *ngFor="let person of missingPeople"
      [id]="person.id"
      [name]="person.nome"
      [age]="person.idade"
      [gender]="person.sexo"
      [imageUrl]="person.urlFoto ||  'https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg'"
      [missingDays]="calculateMissingDays(person.ultimaOcorrencia?.dtDesaparecimento)"
      [lastSeen]="person.ultimaOcorrencia?.localDesaparecimentoConcat"
      [desaparecidoEm]="formatDate(person.ultimaOcorrencia?.dtDesaparecimento)"
      [vestimentas]="person.ultimaOcorrencia?.ocorrenciaEntrevDesapDTO?.vestimentasDesaparecido"
      [informacao]="person.ultimaOcorrencia?.ocorrenciaEntrevDesapDTO?.informacao">
    </app-missing-person-card>
    </div>
  
    <div class="flex justify-center items-center gap-24 mt-8">
      <button (click)="handlePreviousPage()" [disabled]="currentPage === 0" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md">
        Página Anterior
      </button>
      <span class="text-gray-700">Página {{ currentPage + 1 }}</span>
      <button (click)="handleNextPage()" class="bg-blue-500 text-white px-4 py-2 rounded-md">
        Próxima Página
      </button>
    </div>
  </div>
  
</body>
</html>