<div class="card w-[288px] h-[312px] rounded-lg shadow-lg bg-white">
  <div class="card-body h-full overflow-hidden rounded-t-sm mb-2">
    <div class="relative">
      <img [src]="imageUrl" 
           [alt]="name" 
           class="w-full h-78 object-cover">
      <div *ngIf="!localizadoEm" class="absolute top-2 right-2 bg-red-500 text-white px-2 py-1 rounded text-sm">
        {{ missingDays }} dias
      </div>
    </div>
    <div class="h-[150px] px-2 flex flex-col justify-center ">
      <h3 class="text-black font-bold text-lg text-center">
        {{ name }}
      </h3>
      <p class="text-gray-600 text-sm text-center">
        {{ age }} anos • {{ gender }}
      </p>

      <div *ngIf="!localizadoEm ; else localizadoTemplate" class="text-gray-600 text-sm text-center">
        <p class="text-gray-600 text-sm text-center">
          Desaparecido(a) em: {{ desaparecidoEm }}
        </p>
      </div>

      <ng-template #localizadoTemplate>
        <div class="text-gray-600 text-sm text-center">
          <p class="text-gray-600 text-sm text-center">
            Localizado(a) em: {{ localizadoEm }}
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>