<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white max-w-[600px] w-full rounded-lg shadow-lg p-6 relative">
    <button
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
      (click)="closeModal()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <h2 class="text-red-500 text-center mb-4">
      Desaparecido há {{ missingDays(data?.ultimaOcorrencia.dtDesaparecimento) }} dias
    </h2>

    <div class="mt-4">
      <img
        [src]="data.urlFoto?.replace('https://', 'http://') ||
        'https://desaparecidos.pjc.mt.gov.br/assets/img/sem-foto.svg'
      "
        [alt]="data?.nome"
        width="180"
        height="180"
        class="w-full h-[300px] object-contain rounded-lg mb-4"
      />

      <h2 class="text-2xl text-center font-semibold mb-4">
        {{ data?.nome }} • {{ data?.idade }} anos
      </h2>

      <div class="space-y-3 text-gray-600 dark:text-gray-300">
        <p><strong>Gênero:</strong> {{ data?.sexo }}</p>

        <p><strong>Último local visto:</strong> {{ data?.ultimaOcorrencia.localDesaparecimentoConcat }}</p>

        <p><strong>Desaparecido desde:</strong> {{ formatDate(data?.ultimaOcorrencia.dtDesaparecimento) }}</p>

        <p><strong>Vestimentas:</strong> {{ data?.ultimaOcorrencia.ocorrenciaEntrevDesapDTO.vestimentasDesaparecido || 'NÃO INFORMADO' }}</p>

        <p><strong>Informações adicionais:</strong> {{ data?.ultimaOcorrencia.ocorrenciaEntrevDesapDTO.informacao || 'NÃO INFORMADO' }}</p>

        <p *ngIf="data?.status">
          <strong>Status:</strong> {{ data?.status }}
        </p>
      </div>

      <!-- Botões -->
      <div class="flex flex-col items-center justify-center gap-4 mt-8">
        <div class="flex gap-4 justify-center">
          <!-- Botão para Enviar Informações -->
          <button
            class="w-[70%] bg-red-500 hover:bg-red-600 text-white h-[45px] rounded"
            (click)="sendInformation()"
          >
            Enviar informações sobre a vítima
          </button>

          <!-- Botão para Baixar Cartaz -->
          <button
            [disabled]="!data?.urlPoste"
            class="w-[30%] bg-gray-500 hover:bg-gray-600 text-white h-[45px] rounded"
            (click)="downloadPoster()"
            [ngClass]="{ 'opacity-50 cursor-not-allowed': !data?.urlPoste }"
          >
            Baixar Cartaz
          </button>
        </div>

        <div class="flex gap-4 justify-center">
          <!-- Botão para WhatsApp -->
          <button
            class="flex-1 max-w-[180px] h-[40px] border border-gray-300 rounded"
            (click)="shareOnWhatsApp()"
          >
            <mat-icon class="mr-2">chat</mat-icon>
            WhatsApp
          </button>

          <!-- Botão para Instagram -->
          <button
            class="flex-1 max-w-[180px] h-[40px] border border-gray-300 rounded"
            (click)="shareOnInstagram()"
          >
            <mat-icon class="mr-2">camera</mat-icon>
            Instagram
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
